<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	layout:decorate="layout">
<head>
	<meta charset="UTF-8" />
	<title>Livros</title>
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />
</head>
<body>
<div class="container">
<a class="btn btn-primary" href="#" th:href="@{/autores/new}">Novo</a>
	<table class="table">
  		<thead class="thead-dark">
    		<tr>
      			<th scope="col">Id</th>
      			<th scope="col">Nome</th>
      			<th scope="col"></th>
      			<th scope="col"></th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr th:each="autor: ${autores}">
      			<td th:text="${autor.id}"></td>
      			<td th:text="${autor?.name}"></td>
      			<td><a class="btn btn-warning" href="#" th:href="@{'/autores/edit/'+ ${autor.id}}">Alterar</a></td>
      			<td><a class="btn btn-danger" href="#" th:href="@{'/autores/delete/' + ${autor.id}}">Excluir</a></td>
    		</tr>
  		</tbody>
</table>
<div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" ></script>

</body>
</html>
